<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
             Option:      ClientBuild
             Description: The version of the client you will play with.
             Default:     "40892" (2.5.2)
        -->
    <add key="ClientBuild" value="40892" />
    <!--
             Option:      ServerBuild
             Description: The version of the server you want to connect to.
             Default:     "8606" (2.4.3)
        -->
    <add key="ServerBuild" value="8606" />
    <!--
             Option:      ServerAddress
             Description: The address of the server you want to connect to.
             Default:     "127.0.0.1" (localhost)
        -->
    <add key="ServerAddress" value="127.0.0.1" />
    <!--
             Option:      ServerUsername
             Description: Account name for the server you want to login to.
             Default:     "admin"
        -->
    <add key="ServerUsername" value="admin" />
    <!--
             Option:      ServerPassword
             Description: Account password for the server you want to login to.
             Default:     "admin"
        -->
    <add key="ServerPassword" value="admin" />
	<!--
            Option:      DatabaseConnectionString
            Description: Connection string for the local mysql database.
            Default:     "admin"
    -->
	<add key="DatabaseConnectionString" value="Server=localhost;Database=mangos;Port=3306;Uid=root;Pwd=root;" />
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>