<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
             Option:      ClientBuild
             Description: The version of the client you will play with.
             Default:     "40618" (1.14.0)
        -->
    <add key="ClientBuild" value="40618" />
	<!--
            Option:      ClientSeed
            Description: The auth seed of the client you will play with.
            Default:     "179D3DC3235629D07113A9B3867F97A7" (static)
    -->
	<add key="ClientSeed" value="179D3DC3235629D07113A9B3867F97A7" />
    <!--
             Option:      ServerBuild
             Description: The version of the server you want to connect to.
             Default:     "5875" (1.12.1)
        -->
    <add key="ServerBuild" value="5875" />
    <!--
             Option:      ServerAddress
             Description: The address of the server you want to connect to.
             Default:     "127.0.0.1" (localhost)
        -->
    <add key="ServerAddress" value="127.0.0.1" />
	<!--
            Option:      DebugOutput
            Description: Print additional information in console.
            Default:     "false"
    -->
	<add key="DebugOutput" value="false" />
  </appSettings>
</configuration>